body {
    background-color: #b27647;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffd600' fill-opacity='0.19'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: black;
    font-family: 'Sansita', sans-serif;
    text-align: center;
}

h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0;
}

/*
 * Styles for Game menu
 */

.main-menu {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 550px;
}

.stats-menu {
    list-style-type: none;
    width: 505px;
}

.stats-menu td {
    vertical-align:bottom;
}

.menu__logo {
    margin-bottom: -5px;
    width: 20px;
}

.menu__item-s {
    width: 15%;
    text-align: left;
}

.menu__item-l {
    width: 18%;
}

.menu__level {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
/*
#pauseBtn {
  cursor:pointer;
}
*/

.restart-btn {
    background-color: #fffff0;
    border-radius: 5px;
    cursor:pointer;
    padding: 5px 15px 5px 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    height: 30px;
}

.restart-btn:hover {
    background-color: #bfbfbf;
}

/*
 * Styles for canvas container
 */

.game-canvas {
    margin-top: -35px;

}

.game-canvas canvas {
    margin: 0 auto;
}

/*
 * Styles for all Modals
 */

.modal__background {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    /*display: none;*/
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal__window {
    background-color: #fffff0;
    border: 1px solid #888;
    font-size: 16px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    width: 700px;
}

.modal__window h2 {
    color: #1e8495;
}

.modal__msg-default {
    margin-top: 30px;
}

.modal__close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.modal__restart-btn {
    background-color: #02ccba;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.modal__restart-btn:hover {
    background-color: #1e8495;
}

.modal__emphasized-text {
    color: #ff6a44;
    font-weight: bold;
}


/*
 * Styles for initial modal only
 */

.modal__initial__window {
    margin: 7% auto;
}

.modal__initial__window h3 {
    margin-bottom: -20px;
}

.instructions {
    line-height: 25px;
    margin: auto;
    text-align: justify;
    width: 80%;
}

.avatars-collection {
    font-size: 15px;
    margin: 0 auto;
    width: 70%;
}

.avatar-sprite, figcaption {
    width: 45px;
}

.character-selection-form input {
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 55px;
}

label {
  cursor:pointer;
  padding-top: 120px;
  position: relative;
}

/*
 * Styles for game over modal only
 */

.modal__gameover__background {
    display: none;
}

.modal__gameover__window {
    width: 400px;
}

.modal__gameover__window ul {
    text-align: justify;
    padding: 15px;
    width: 40%;
    margin: 0 auto;
    line-height: 25px;
}

/*
 * Styles for confirmation modal only
 */

.modal__confirmation__background {
    display: none;
}

.modal__confirmation__window {
    width: 350px;
}

.yes-btn, .no-btn {
    display: inline-block;
    margin: 20px;
}

.no-btn {
  background-color: #a0a0a0;
}

.no-btn:hover {
  background-color: #666;
}
