body {
    text-align: center;
    font-family: 'Sansita', sans-serif;
      color: black;
      background-color: #b27647;
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffd600' fill-opacity='0.19'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-size: 45px;
  margin: 0;
}

h2 {
  margin-bottom: -20px;
}

.avatars-collection {
  width: 505px;
  margin: 0 auto;
  font-size: 15px;
}

.avatar-sprite, figcaption {
  cursor: pointer;
  width: 45px;
}

.game-menu {
  list-style-type: none;
  width: 505px;
  margin: 0 auto;
  margin-bottom: -45px;
}

.game-menu td {
  width: 25%;
  vertical-align:bottom;
}

.menu__logo {
  width: 20px;
  margin-bottom: -5px;
}

#pauseBtn {
  cursor:pointer;
}

/*
 * Styles for Modal
 */

.modal__background {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    /*display: none;*/
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal__window {
    background-color: #fff;
    border: 1px solid #888;
    font-size: 16px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    width: 700px;
}

.modal__msg-default {
    margin-top: 30px;
}

.modal__close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal__restart-btn {
    border-radius: 5px;
    background-color: #02ccba;
    color: #fff;
    display: block;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.modal__restart-btn:hover {
    background-color: #1e8495;
}
