body {
    text-align: center;
    font-family: 'Sriracha', cursive;
}

h1 {
  font-size: 35px;
  margin: 0;
}

.game-menu {
  list-style-type: none;
  display:flex;
  width: 505px;
  margin: 0 auto;
  margin-bottom: -45px;
}

.game-menu li {
  display: inline-block;
  width: 33%;
}

.menu__logo {
  width: 20px;
  margin-bottom: -5px;
}
